
body{
  background-color: #ffffb0bb;
}

h1{
  margin: 1em;
  border-bottom: 2px solid green;
}

input{
  width: 99%;
  height: 30px;
}

table{
  width: 25%;
  margin: 1em;
}

table td button{
  width: 100%;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
}

.c {
  color: red;
}

#result{
  background-color: white;
}
